@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --main-font: 'Lato', sans-serif;
}

body {
    background-color: #D8D8D8;
    font-family: var(--main-font);
}

#gogLogo {
    width: 40px;
    height: 40px;
}

#userAvatar {
width: 30px;
height: 30px;
    border-radius: 50%;
}

.navbar li > i {
    color: #D8D8D8;
    font-size: 16px;
}

i + span {
    color: #5e5e5e;
    font-size: x-small;
}

#highlightsContainer h3 {
    color: #5e5e5e;
    display: inline;
    font-size: 16px;
    font-weight: 600;
}
#highlightsContainer i {
    color: #5e5e5e;
}

#highlightsContainer div {
    border-bottom: 1px solid #c5c3c3;
    padding-bottom: 15px;
}

.carousel img {
    max-height: 400px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 3px;
}

.carousel .carousel-indicators {
    position: absolute;
    bottom: -12%;
}

.carousel .carousel-indicators li {
  background-color: #c5c3c3;
}

.carousel .carousel-indicators li.active {
  background-color: purple;
}

.btn-success {
    background: rgb(116,172,22);
    background: linear-gradient(0deg, rgba(116,172,22,1) 0%, rgba(184,230,78,0.908000700280112) 100%);
    border: none;
    border-radius: 2px;
    box-shadow: 1px -1px 1px #5e5e5e;
    padding: 7px 30px;
    font-weight: 700;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: rgb(37, 37, 182);
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    font-size: 0.7rem;
}

.btn-primary + i {
    color: #5e5e5e;
    font-size: 0.7rem;
}

#addToCartButtonGroup {
    position: absolute;
    right: 0;
    left: 66%;
    top: 81%;
    font-weight: 700;
}
#addToCartButtonGroup span {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

#main-title-on-img {
    position: absolute;
    bottom: 8%;
    left: 10%;
    font-size: 1.5rem;
}

#soonButtonGroup {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

#cyberpunkLogo {
    width: 280px;
    position: absolute;
    top: 21%;
    left: 13%;
}