@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --main-font: 'Lato', sans-serif;
}

body {
    background-color: #D8D8D8;
    font-family: var(--main-font);
}

#gogLogo, #galaxyLogo{
    width: 40px;
    height: 40px;
}

#userAvatar {
width: 30px;
height: 30px;
    border-radius: 50%;
}

.navbar li > i {
    color: #D8D8D8;
    font-size: 16px;
}

i + span {
    color: #5e5e5e;
    font-size: x-small;
}

#highlightsContainer h3, #lastOfTopContainer h3, #firstOfMiddleContainer h3, #lastOfMiddleContainer h3, #newsContainer h3 {
    color: #5e5e5e;
    display: inline;
    font-size: 16px;
    font-weight: 700;
}
#highlightsContainer i, #lastOfTopContainer i, #firstOfMiddleContainer i, #lastOfMiddleContainer i, #newsContainer i {
    color: #5e5e5e;
}
#newsContainer i {
    display: inline-block;
    transform: rotate(340deg);
}

#highlightsContainer div, #lastOfTopContainer div, #firstOfMiddleContainer div, #lastOfMiddleContainer div, #newsContainer div {
    border-bottom: 1px solid #c5c3c3;
    padding-bottom: 15px;
}

.carousel img {
    max-height: 400px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 3px;
}

.carousel .carousel-indicators {
    position: absolute;
    bottom: -12%;
}

.carousel .carousel-indicators li {
  background-color: #c5c3c3;
}

.carousel .carousel-indicators li.active {
  background-color: purple;
}

.btn-success {
    background: rgb(116,172,22);
    background: linear-gradient(0deg, rgba(116,172,22,1) 0%, rgba(184,230,78,0.908000700280112) 100%);
    border: none;
    border-radius: 2px;
    box-shadow: 1px -1px 1px #5e5e5e;
    padding: 7px 30px;
    font-weight: 700;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: rgb(37, 37, 182);
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    font-size: 0.7rem;
}

.btn-secondary {
    background-color: #c5c3c3;
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    font-size: 0.7rem;
    color: #5e5e5e;
}

.btn-warning {
    background-color: #ECA126;
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    font-size: 0.7rem;
    color: white;
}

.btn-light {
    background-color: transparent;
    color: #5e5e5e;
    border-color: #c5c3c3;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 5px 50px;
    text-align: center;
}

.btn-primary + i, .btn-secondary + i, .btn-warning + i, .tablish-rows {
    color: #5e5e5e;
    font-size: 0.7rem;
}

#addToCartButtonGroup {
    position: absolute;
    right: 0;
    left: 66%;
    top: 81%;
    font-weight: 700;
}
#addToCartButtonGroup span {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

#main-title-on-img {
    position: absolute;
    bottom: 8%;
    left: 10%;
    font-size: 1.5rem;
}

#soonButtonGroup {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

#cyberpunkLogo {
    width: 280px;
    position: absolute;
    top: 21%;
    left: 13%;
}

.card {
    min-height: 100%;
    box-shadow: 1px -1px 1px #c5c3c3;
}

img.card-image-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.card-body i {
    color: #5e5e5e;
    font-size: 0.8rem;
}

 .old-card-price, .discount-percentage, .card-price {
    position: absolute;
}

.card-price {
    right: 10%;
}

.old-card-price {
    bottom: 100%;
    right: 10%;
    font-size: 0.6rem;
    text-decoration: line-through;
    color: #c5c3c3;
}

.discount-percentage {
    bottom: 0;
    left: -20%;
    background-color: purple;
    border-radius: 2px;
    color: white;
    font-size: 1.1rem;
    padding: 4px 11px;
}

#firstDivider {
    border-top: 2px solid #c5c3c3;
    border-bottom: 2px solid #c5c3c3;
}

#firstDivider .row > div {
    border-right: 1px solid #c5c3c3;
}

.purple-bold {
    color: purple;
    font-weight: 600;
}

i.bg-dark {
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 0.9rem;
}

#lastOfMiddleContainer a.active {
color: purple;
padding-bottom: 16px;
border-bottom: 3px solid purple;
}

#lastOfMiddleContainer a {
color: #5e5e5e;
}

.mosaic-img {
    min-height: 171px;
    object-fit: cover;
    margin: 2px 2px;
}

.tablish-rows {
    border-bottom: 1px solid #c5c3c3;
}

.tablish-discount-badge {
    position: absolute;
    background-color: purple;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    left: -20%;
    bottom: 18%;
    padding: 3px 3px;
}

.tablish-old-price {
    position: absolute;
    text-decoration: line-through;
    font-size: 0.6rem;
    color: #aaaaaa;
    top: 40%;
    left: 18%;
}

.caret-span {
    position: absolute;
    right: 10%;
}